@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";


@font-face {
  font-family: "Pixel";
  src: url("./assets/font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Unifont";
  src: url("./assets/unifont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}
